body{
  background: #170227;
  font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    text-align: center;
    color: #a2b4c9;
}
h2{
  font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    color: #a263fe;
    border: 1px solid rgba(162, 99, 254, 0.14);
      border-radius: 12px;
      padding: 10px 14px;
      background: rgba(162, 99, 254, 0.1);
      margin-bottom: 16px;
}
h3{
font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.28;
  text-align: center;
  color: #ecf8ff;
  margin-bottom: 16px;
}
.span{
background: linear-gradient(90deg, #06d0f2 0%, #a263fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}