.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 100px;
}
.home-title{
font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #ecf8ff;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");

}
.home-wrapper{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.home-title{
font-size: 116px;
    letter-spacing: 0.04em;
}
.home-text{
    text-align: right;
}
.desk{
    display: block;
}    
}
/* About the Game */
.about-container h2{
    width: 140px;
}
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 210px;
    height: 608px;
}
@media only screen and (min-width: 1440px) {
 .about-section{
    background-image: url("/img/about/desk.png");
    background-size: 100% 807px;
    height: 1243px;
}   
.about-container{
   padding: 80px 176px 64px;
}
.about-container h2 {
    width: 170px;
}
.about-text{
  width: 704px;
  margin-left: auto;
  margin-right: auto;  
}
}